* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* se as tags tiverem tamanhos diferente o auto vai centralizar o conteudo diferente entao colocar ela auto no container mesmo */
body {
  /* margin: auto; */

  min-height: 100vh;
  background-color: #ece9fd;
}

#container {
  padding-top: 80px;
  margin: 0 284px 108px 135px;
  width: 100%;
  max-width: 1021px;
}

#container header span {
  font-family: "Epilogue";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #7158ef;
}

#container main.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 116px;
}

#container main.content .text-c {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 31px;

  font-family: "Epilogue";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

#container main.content .text-c h1 {
  text-align: left;

  font-family: "Epilogue";
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #090039;
}

#container main.content .text-c p {
  text-align: justify;
  color: #0a0039a3;
}

#container main.content .text-c span {
  text-align: justify;
  color: #090039;
}

#container main.content .count {
  margin-top: 4.8rem;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 32px;
}

#container main.content .count h4 {
  max-width: 450px;

  display: flex;
  align-items: center;
  text-align: left;
  gap: 66px;

  font-family: "Epilogue";
  font-size: 24px;
  font-weight: 700;
}

#container main.content .count b {

  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
}
