* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background: #ece9fd;
}
:root {
  /* 0.16 x 62.5 = 10px */
  font-size: 62.5%;
  /* 100% =16px/100 = 0,16 ficaria mais difícil pra converter */
}
#container {
  max-width: 33rem;
  margin: 0 auto;
  padding: 60px 23px 66px;
}

header span {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
  line-height: 3.2rem;
  letter-spacing: 3px; /*oq é isso??? acho q é espaço entre as letras*/
  color: #7158ef;
}

main.content .text-c h1 {
  font-size: 4rem;
  font-family: "Epilogue", sans-serif;
  font-weight: 800;
  line-height: 4.8rem;
  color: #090039;
}

main.content .text-c p {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
  line-height: 3.2rem;
  color: #0a0039a3;
}

main.content .text-c a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
  line-height: 3.2rem;
  color: #090039;
  display: inline-block;
  margin-top: 3.2rem;
}

main.content .text-c a:hover {
  font-weight: 700;
  color: #2f227c;
}

main.content .details ul {
  margin-top: 7.2rem;
  list-style: none;
}
ul li {
  max-width: 25.7rem;

  display: flex;
  align-items: flex-start;
  gap: 3.8rem;
  color: #090039;

  font-size: 2.4rem;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  line-height: 3.2rem;
}
ul li span {
  font-size: 7.2rem;
  font-family: "Epilogue", sans-serif;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -2px;
}

section.email {
  min-width: 32rem;
  padding: 6rem 2.3rem 6.6rem;
}

section.email form fieldset {
  border: none;
  font-family: "Epilogue";
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: space-between;
  gap: 10px;
}

section.email form fieldset legend {
  text-align: left !important;
  color: #090039;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

section.email form fieldset label input {
  width: 85%;

  border: 1px solid #a8a8b3;
  border-radius: 8px;

  padding: 13px 12px 13px 16px;
  background-color: #ffffff;
}

section.email form fieldset label textarea {
  resize: none;

  padding: 1.3rem 1.2rem 1.3rem 1.6rem;

  width: 85%;
  border: 1px solid #a8a8b3;
  border-radius: 8px;
}

section.email form .button {
  display: flex;
  align-items: center;
}

section.email form .button button {
  border-radius: 4px;
  margin-top: 2rem;
  border: 0;
  background: #5341ad;
  color: #0a0039;
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  gap: 6px;
  align-items: center;
}

footer {
  width: 100%;
  text-align: center;
  font-family: "Epilogue";
  font-weight: 800;
  color: #0f025c;
  position: absolute;

  font-size: 1.5rem;
}

footer {
  display: inline-block;
  text-align: center;
}

@media (min-width: 700px) {
  #container {
    max-width: 1021px;
    margin: 0;
    padding: 8rem 13.5rem 10.8rem;
  }
  main.content {
    display: flex;
    align-items: center;
    gap: 11.6rem;
  }
  main.content .text-c {
    max-width: 484px;
  }
  main.content .details ul li {
    align-items: center;
    gap: 5 0.3rem;
    max-width: 450px;
  }
  ul li + li {
    margin-top: 3.2rem;
  }
  section.email {
    max-width: 1021px;
    padding: 8rem 13.5rem 10.8rem;
  }
  section.email form {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }
  section.email form fieldset label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  section.email form fieldset label input {
    width: 85%;
  }
  section.email form fieldset label textarea {
    resize: none;

    padding: 13px 12px 13px 16px;

    width: 85%;
    border: 1px solid #a8a8b3;
    border-radius: 8px;
  }
  section.email form .button button {
    border-radius: 4px;
    margin-top: 20px;
    border: 0;
    background: #5341ad;
    color: #0a0039;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    gap: 6px;
    align-items: center;
  }
}

/* usamos o max quando queremos que ele só va ate tal tamanho
usamos min quando queremos que ele parta de um caminho
*/
